
@font-face{
    font-family: 'Yekan';
    src : url('fonts/Yekan.woff');
}
*{
    font-family: 'Yekan';
}
body{
    padding: 0;
    margin: 0;
    background-color: #00010746;
    overflow-x: hidden;
    font-family: 'Yekan'
}
#whole{
    display: flex;
    justify-content: space-between;
}
.left{
    position: relative;
    right: -50px;
    top: 50px;
}

.inputs{
    position: relative;
    right: 100px;
    font-size: 20px;
    display: inline;
    top: 10px;
}
.input{
    position: relative;
    right: 100px;
    font-size: 20px;
    color: rgb(33, 6, 202);
    display: inline;
    top: 10px;
    margin: 20px;
    padding: 8px 5px;
    border-radius: 10px;
    border: none;
}
.input:focus {
    border: 1.5px solid  rgba(0, 0, 0, 0.192);
    outline: none;
    box-shadow: 1px 1px 10px rgb(4, 4, 97);
}
.hide{
    position: relative;
    right: 240px;
    font-size: 12px;
    top: -5px;
    color: rgb(168, 1, 1);
}

#txt{
    display: none;
}
#txtTwo{
    display: none;
}
button{
    text-decoration: none;
}
.buttons{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30px;
    right: 100px;
    padding: 50px 0;
}
button{
    padding:5px 15px;
    font-size: 25px;

}
.plus button{
    background-color: rgb(65, 199, 12);
}
.minus button {
    background-color: rgb(221, 7, 7);
}
.multiply button{
    background-color: rgba(0, 0, 255, 0.767);
}
.divide button{
    background-color: rgba(255, 255, 0, 0.699);
}
.result{
    width: 400px;
    height: 240px;
    background-color: rgb(229 192 192);
    position: relative;
    top: 40px;
    border-radius: 10px;
}
.myResult{
    position: relative;
    top: 10px;
    right: 30px;
    font-size: 20px;
}
.finalResult{
    position: relative;
    right: 30px;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(64, 4, 121);
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.inputsOne{
    position: relative;
    right: 55px;
    top: 30px;
    font-size: 20px;
}
.inputsTwo{
    position: relative;
    right: 55px;
    top: 30px;
    font-size: 20px;
}
#final{
    position: relative;
    right: 125px;
    bottom: 75px;
    font-size: 25px; 
    font-weight: bold;
}

@media only screen and (max-width: 480px){
    html{
        width: 300px;
    }
    body{
        width: 300px;
        margin: 0;
        padding: 0;
    }
    .hide{
        position: relative;
        right: -170px;
        font-size: 12px;
        top: 80px;
        color: rgb(168, 1, 1);
    }

    .inputs{
        position: relative;
        right: 10px;
        font-size: 20px;
        top: 20px;
        margin:10px 0;
        display: inline;
    }
    .input{
        position: relative;
        right: 30px;
        font-size: 20px;
        color: rgb(33, 6, 202);
        display: inline;
        top: 5px;
        width: 170px;
        margin: 20px;
        padding: 0px 5px;
        border-radius: 10px;
        border: none;
        height: 55px;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0px;
        right: 10px;
        padding:0;
        margin: 0 10px;
    }
    button{
        padding:0px 10px;
        font-size: 25px;
        column-gap: 0;
    
    }
    .result{
        width: 300px;
        margin: 0;
        padding: 0;
        right: 10px;
    }
    .finalResult{
        margin: 0;
        padding: 0;
        position: relative;
        top: 5px;
        width: 80px;
    }
    #final{
        position: relative;
        right: 125px;
        bottom: 40px;
        font-size: 25px; 
        font-weight: bold;
    }
}




.down{
    display: flex;
    justify-content: space-between;
}
.left{
    position: relative;
    top: 0px;
}
.hideMe{
    display: none;
    position: relative;
    right: 190px;
    font-size: 12px;
    top: 25px;
    color: rgb(168, 1, 1);
}
input{
    background: #8080804a;
}
.inputsDown{
    position: relative;
    right: 0px;
    font-size: 20px;
    top: 50px;

    display: inline;
}
.inputDown{
    position: relative;
    right: 30px;
    font-size: 20px;
    color: rgb(33, 6, 202);
    display: inline;
    top: 50px;
    width: 170px;
    margin: 20px;
    padding: 0px 5px;
    border-radius: 10px;
    border: none;
    height: 55px;
}
.inputDown:focus {
    border: 1.5px solid  rgba(0, 0, 0, 0.192);
    outline: none;
    box-shadow: 1px 1px 10px rgb(4, 4, 97);
}
.myResultDown{
    position: relative;
    top: 10px;
    right: 30px;
    font-size: 20px;
}
.finalResultDown{
    position: relative;
    right: 30px;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(64, 4, 121);
}
.firstDown{
    display: flex;
}
.secondDown{
    display: flex;
}
.inputsOneDown{
    position: relative;
    right: 55px;
    top: 30px;
    font-size: 20px;
}
.inputsTwoDown{
    position: relative;
    right: 55px;
    top: 30px;
    font-size: 20px;
}
#finalDown{
    position: relative;
    right: 125px;
    bottom: 75px;
    font-size: 25px; 
    font-weight: bold;
}